<%- include('parts/header'); %>

<div class="content m-0 p-0 h-100">
    <table id='server-table' class="table table-dark m-o p-0 b-0"
        style="font-size:200%; min-height: 100vh; border-style: dotted;">
        <thead>
            <tr>
                <th scope="col">
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                </th>
                <th scope="col" class="text-light">#</th>
                <th scope="col" class="text-light">CPU</th>
                <th scope="col" class="text-light">Memory</th>
                <th scope="col" class="text-light">Process</th>
                <th scope="col" class="text-light">Opened files</th>
                <th scope="col" class="text-light">Disk</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(server){ %>
            <tr id='<%= server.id %>'>
                <th scope="row"></th>
                <td id="name" class="font-weight-bold"><%= server.name %></th>
                <td id="cpu" class="font-weight-bold"></td>
                <td id="memory" class="font-weight-bold"></td>
                <td id="process" class="font-weight-bold"></td>
                <td id="files" class="font-weight-bold"></td>
                <td id="disk" class="font-weight-bold"></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<script>
    function formatPercentage(amount) {
        if (amount)
            return (amount.toFixed(2) + ' %').replace('.00', '');
        return amount;
    }

    const okayColor = '#1abc9c';
    const warnColor = '#f1c40f';
    const errorColor = '#e74c3c';
    const offlineColor = '#7f8c8d';

    function update() {
        $.ajax({
            "url": "<%= domain %>/json",
            "success": function (data) {
                if (Array.isArray(data)) {
                    for (let server of data) {
                        if (!$('#' + server.id)) continue;
                        var state = 0;

                        $('#' + server.id + ' #cpu').html(formatPercentage(server.cpu));
                        if (server.cpu > <%= states.cpu.warn %> && state === 0) state = 1;
        if (server.cpu >= <%= states.cpu.danger %> && state !== 2) state = 2;

        $('#' + server.id + ' #memory').html(formatPercentage(server.memory));
        if (server.memory > <%= states.memory.warn %> && state === 0) state = 1;
        if (server.memory >= <%= states.memory.danger %> && state !== 2) state = 2;

        $('#' + server.id + ' #process').html(server.process);

        $('#' + server.id + ' #files').html(server.openFiles);
        if (server.openFiles > <%= states.openFiles.warn %> && state === 0) state = 1;
        if (server.openFiles >= <%= states.openFiles.danger %> && state !== 2) state = 2;

        $('#' + server.id + ' #disk').html(formatPercentage(server.disk));
        if (server.disk > <%= states.disk.warn %> && state === 0) state = 1;
        if (server.disk >= <%= states.disk.danger %> && state !== 2) state = 2;

        if (Date.now() - server.time > 120000) { // 2 minutes
            state = 3;
            $('#' + server.id + ' #name').html('[Offline] ' + server.name);
        } else {
            $('#' + server.id + ' #name').html(server.name);
        }

        $('#' + server.id).attr("class", 'state-' + state);

        if (state === 0)
            $('#' + server.id).css("color", okayColor);
        else if (state === 1)
            $('#' + server.id).css("color", warnColor);
        else if (state === 2)
            $('#' + server.id).css("color", errorColor);
        else //if (state === 3)
            $('#' + server.id).css("color", offlineColor);
    }
    console.info('Info updated: ', Date.now());
                } else {
        console.warn('Invalid data.');
        console.warn(data);
    }
            },
    "error": function (error) {
        console.error(error);
    }
        })
    }

    $(document).ready(update);
    setInterval(update, 5000);

    function scrollup() {
        $('html, body').animate({ scrollTop: $(document).height() - $(window).height() }, 5000);
    }
    function scrolldown() {
        $('html, body').animate({ scrollTop: 0 }, 5000);
    }

    if ($(document).height() > $(window).height()) {
        setInterval(scrolldown, 30000);
        setInterval(scrollup, 60000);
    }

</script>

<%- include('parts/footer'); %>